__pycache__/a.cpython-39.pyc
__pycache__/bst.cpython-39.pyc
__pycache__/linked_list.cpython-39.pyc
__pycache__/python.cpython-39.pyc
__pycache__/stack.cpython-39.pyc
__pycache__/Tetris.cpython-39.pyc
.vscode/extensions.json
.vscode/launch.json
dist/darkblue.png
dist/green.png
dist/lightblue.png
dist/orange.png
dist/purple.png
dist/red.png
dist/Tetris.exe
dist/yellow.png
build/Tetris/Analysis-00.toc
build/Tetris/base_library.zip
build/Tetris/EXE-00.toc
build/Tetris/PKG-00.pkg
build/Tetris/PKG-00.toc
build/Tetris/PYZ-00.pyz
build/Tetris/PYZ-00.toc
build/Tetris/Tetris.exe.manifest
build/Tetris/Tree-00.toc
build/Tetris/Tree-01.toc
build/Tetris/Tree-02.toc
build/Tetris/warn-Tetris.txt
build/Tetris/xref-Tetris.html
Learning/正则表达式.ipynb
Learning/pygame_learning.ipynb
Learning/python2级.ipynb
Learning/python3级.ipynb
Learning/python4级.ipynb
Learning/python5级.ipynb
